{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人时间列表</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
{#    <a class="navbar-brand" style="font-weight: bold">个人时间表</a>#}
    <!-- Brand and toggle get grouped for better mobile display -->
{#    <div class="navbar-header">#}
{#        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#            <span class="sr-only">Toggle navigation</span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#        </button>#}
{#        <a class="navbar-brand">员工管理系统</a>#}
{#    </div>#}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav navbar-right">
{#            <li><a href="#">登录</a></li>#}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.session.info.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">


                    <li><a href="/logout/">注销</a></li>
{#                    <li role="separator" class="divider"></li>#}
{#                    <li><a href="#">Separated link</a></li>#}
                </ul>
            </li>
        </ul>
    </div>
</div>
    <div class="container">
    <div style="margin-bottom: 10px" class="clearfix">
{#        <a class="btn btn-primary" href="/contrast/add/">新建合同</a>#}
        <div style="float: right;width: 300px">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="状态" value={{ search_value }}>
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                            </span>
                </div>
            </form>

        </div>
    </div>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        个人时间表
    </div>


    <!-- Table -->
    <table class="table table-bordered ">
    <thead>
    <tr>
{#        <th>ID</th>#}
        <th>ContrastName</th>
        <th>CustomerName</th>
{#        <th>Staff</th>#}
        <th>Start</th>
        <th>End</th>
        <th>State</th>
{#        <th>Operation</th>#}


    </tr>
    </thead>
    <tbody>
    {% for obj in queryset %}
        <tr>
            <th scope="row">{{ obj.name }}</th>
            <td>{{ obj.companyname}}</td>
            <td>{{ obj.start}}</td>
            <td>{{ obj.end }}</td>
            <td>{{ obj.get_state_display}}</td>

{#            <td>#}
{#                <a class="btn btn-danger btn-xs" href="/contrast/{{ obj.id }}/delete/">删除</a>#}
{#            </td>#}

        </tr>
    {% endfor %}

    </tbody>
    </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </nav>

    </div>





<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>