{% extends 'layout.html' %}


{% block content %}
    <div class="container">
    <div style="margin-bottom: 10px" class="clearfix">
        <a class="btn btn-primary" href="/employee/add/">新建自由职业者</a>
        <div style="float: right;width: 300px">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="职业类型" value={{ search_value }}>
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                            </span>
                </div>
            </form>

        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            自由职业者列表
        </div>


        <!-- Table -->
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>password</th>
                <th>job</th>
                <th>email</th>
{#                <th>state</th>#}
                <th>Operation</th>


            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
                <tr>
                    <th scope="row">{{ obj.id }}</th>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.password }}</td>
                    <td>{{ obj.job }}</td>
                    <td>{{ obj.email }}</td>
{#                    <td>{{ obj.get_state_display }}</td>#}
                    <td>
                        <a class="btn btn-primary btn-xs" href="/employee/{{obj.id}}/edit/">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/pretty/{{ num_info.id }}/delete/">删除</a>
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </nav>
    {#    <form method="get">#}
    {#    <div class="input-group" style="width: 200px">#}
    {#        <input name="page" type="text" class="form-control" placeholder="跳转">#}
    {#        <span class="input-group-btn">#}
    {#        <button class="btn btn-default" type="submit">跳转</button>#}
    {#      </span>#}
    {#    </div>#}
    {#    </form>#}

{% endblock %}

